<div class="min-h-screen bg-[var(--bg)] text-[var(--fg)] flex">
  <aside
    class="hidden md:block w-64 fixed inset-y-0 left-0 border-r border-[var(--border)] bg-[var(--surface)]"
  >
    <app-sidebar></app-sidebar>
  </aside>

  <div class="flex-1 min-h-screen flex flex-col md:ml-64">
    <app-header class="sticky top-0 inset-x-0 z-30 shadow-sm"></app-header>

    <main class="flex-1 w-full bg-[var(--bg)] text-[var(--fg)] px-4 md:px-8 pt-6 pb-12">
      <div class="max-w-8xl mx-auto">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>

